body {
  background-color: black;
  color: white;
  font-family: "Rubik", sans-serif;
}
.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-wrap: wrap;
}
header {
  font-size: 12px;
  font-weight: bold;
}
#navItem {
  &:hover {
    color: $link-hover !important;
  }
}
#button {
  padding: $padding-button !important;
}
.footer {
  background-color: black;
  height: 15vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none !important;
  color: white !important;
  &:hover {
    color: $link-hover !important;
  }
}
.copyLink {
  color: $copy-color !important;
}

//Media query

@media (max-width: 405px) {
  .logo-header {
    width: 180px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .logo-header {
    width: 150px;
    margin-top: 15px;
  }
}
